$background: #EDEEF0;
$on-background: #000;
$surface: #FFF;
$on-surface: #656565;
$primary: #FAFBFC;

$light-action: #E5EBF1;
$light-on-action: #55677D;
$light-action-hover: #E2E9EF;
$light-on-action-hover: #707F92;

$blue-action: #5181B8;
$blue-on-action: #FFF;
$blue-action-hover: #6690C0;

$separator-common: #DCE1E6;
$separator-alternate: #E7E8EC;
$link: #2A5885;
$dropdown-border: #D3D9DE;

$block-border-radius: 4px;
$button-border-radius: 4px;
